<!doctype html>
<html>
	<head>
		<title>{{TITLE}}</title>
		<link rel="stylesheet" href='/home/koan/koansite/static/css/base.css'>
		<link rel="stylesheet" href='/home/koan/koansite/static/css/{{PAGECSS}}'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src='/home/koan/koansite/static/js/base.js'></script>
	</head>
	<body>
		<header>
			<nav>
				<img id="logo" src=/home/koan/koansite/static/images/logo.jpg'></img>
				<div id="pagelinks">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/news">News</a></li>
						<li><a href="/artists">Artists</a></li>
						<li><a href="/releases">Releases</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</nav>
		</header>
