<!doctype html>
<html>
	<head>
		<title>{{TITLE}}</title>
		<link rel="stylesheet" href='static/css/{{PAGECSS}}'>
		<link rel="stylesheet" href='static/css/base.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src='static/js/base.js'></script>
	</head>
	<body>
		<header>
			<nav>
				<img id="logo" src='static/images/logo2.png'></img>
				<h1 id="title">KOAN RECORDS</h1>
				<div id="pagelinks">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/news.html">News</a></li>
						<li><a href="/artists.html">Artists</a></li>
						<li><a href="/releases.html">Releases</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/contact.html">Contact</a></li>
					</ul>
				</div>
			</nav>
		</header>
